.external-style #external-name{
    color: brown;
    font-size: 25px;
}
.external-style #external-response{
    background-color:blanchedalmond;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}